.warm-img2{
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1200px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 900px) {
  .warm-img2 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}

.img-text-img2{
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
}

@media (min-width: 900px) {
  .img-text-img2 {
    flex-direction: row;
    gap: 70px;
  }
}

.right-img2 img{
    height: 320px;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 640px) {
  .right-img2 img {
    height: 480px;
  }
}

@media (min-width: 900px) {
  .right-img2 img {
    height: 650px;
    width: 450px;
  }
}

@media (min-width: 1280px) {
  .right-img2 img {
    height: 800px;
    width: 550px;
  }
}

.left-content2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 900px) {
  .left-content2 {
    gap: 0;
  }
}

.left-content2 img{
    height: 220px;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 640px) {
  .left-content2 img {
    height: 280px;
    width: 260px;
  }
}

@media (min-width: 900px) {
  .left-content2 img {
    height: 300px;
    width: 280px;
  }
}

@media (min-width: 1280px) {
  .left-content2 img {
    height: 350px;
    width: 300px;
  }
}

.left-content2 .span-2{
    font-family: font-2;
    font-size: 0.85rem;
    max-width: 600px;
}

@media (min-width: 900px) {
  .left-content2 .span-2 {
    font-size: 0.9rem;
  }
}